@import "tailwindcss";

.bg-image {
  background-image: url('./assets/bgimg.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;      /* use full viewport height */
  opacity: 0.9;       /* use decimal for opacity, not percentage */
}

.banner-image{
background-image: url('./assets/bannerimg.png');
width:auto;
}